<mat-card
  class="back-card"
>
  <span class="close-action">
    <button
      mat-raised-button
      color="accent"
      (click)="closeInfo()"
    >
      Hilfe schließen
    </button>
  </span>

  <span class="clear-info">
    <button
      mat-raised-button
      color="primary"
    >
      Eingaben löschen -->
    </button>
  </span>

  <span class="location-info">
    <button
      mat-raised-button
      color="primary"
    >
      <-- Location ändern
    </button>
  </span>

  <span class="checkbox-info">
    <button
      mat-raised-button
      color="primary"
    >
      <-- Dinge ausschließen
    </button>
  </span>

  <span class="info-info">
    <button
      mat-raised-button
      color="primary"
    >
      Hilfe anzeigen -->
    </button>
  </span>

  <span class="notes-info">
    <button
      mat-raised-button
      color="primary"
    >
      3x Notizen -->
    </button>
  </span>
</mat-card>